<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mcmanager.mapper.SongMapper">
    <resultMap id="BaseResultMap" type="com.example.mcmanager.entity.Song">
        <id column="songid" property="songid" jdbcType="INTEGER"/>
        <result column="songurl" property="songurl" jdbcType="VARCHAR"/>
        <result column="songname" property="songname" jdbcType="VARCHAR"/>
        <result column="albumid" property="albumid" jdbcType="INTEGER"/>
        <result column="albumname" property="albumname" jdbcType="VARCHAR"/>
        <result column="artistid" property="artistid" jdbcType="INTEGER"/>
        <result column="artistname" property="artistname" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="size" property="size" jdbcType="INTEGER"/>

    </resultMap>
    <sql id="Base_Column_List">
        songid, songurl, songname, albumid, albumname, artistid, artistname, icon, size
    </sql>

    <select id="getAllSong" resultType="com.example.mcmanager.entity.Song">
        select * from song
    </select>

    <select id="getSongById" resultType="com.example.mcmanager.entity.Song">
        select * from song where songid=#{songid}
    </select>

    <select id="checkSongId" resultType="java.lang.Boolean">
        select exists(select 1 from song where songid=#{songid})
    </select>

    <update id="updateSong" parameterType="com.example.mcmanager.entity.Song">
        update song set
        <if test="songurl != null">songurl=#{songurl},</if>
        <if test="songname != null">songname=#{songname},</if>
        <if test="albumid != null">albumid=#{albumid},</if>
        <if test="albumname != null">albumname=#{albumname},</if>
        <if test="artistid != null">artistid=#{artistid},</if>
        <if test="artistname != null">artistname=#{artistname},</if>
        <if test="icon != null">icon=#{icon},</if>
        <if test="size != null">size=#{size},</if>
    </update>

    <update id="updateSong" parameterType="com.example.mcmanager.entity.Song">
        update song set
        <if test="songurl != null">songurl=#{songurl},</if>
        <if test="songname != null">songname=#{songname},</if>
        <if test="albumid != null">albumid=#{albumid},</if>
        <if test="albumname != null">albumname=#{albumname},</if>
        <if test="artistid != null">artistid=#{artistid},</if>
        <if test="artistname != null">artistname=#{artistname},</if>
        <if test="icon != null">icon=#{icon},</if>
        <if test="size != null">size=#{size},</if>
        where songid=#{songid}
    </update>

    <delete id="deleteSongById" parameterType="com.example.mcmanager.entity.Song">
        delete from song where songid=#{songid}
    </delete>

    <insert id="addSong" parameterType="com.example.mcmanager.entity.Song">
        insert into song
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="songid != null">songid,</if>
            <if test="songurl != null">songurl,</if>
            <if test="songname != null">songname,</if>
            <if test="albumid != null">albumid,</if>
            <if test="albumname != null">albumname,</if>
            <if test="artistid != null">artistid,</if>
            <if test="artistname != null">artistname,</if>
            <if test="icon != null">icon,</if>
            <if test="size != null">size,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="songid != null">#{songid},</if>
            <if test="songurl != null">#{songurl},</if>
            <if test="songname != null">#{songname},</if>
            <if test="albumid != null">#{albumid},</if>
            <if test="albumname != null">#{albumname},</if>
            <if test="artistid != null">#{artistid},</if>
            <if test="artistname != null">#{artistname},</if>
            <if test="icon != null">#{icon},</if>
            <if test="size != null">#{size},</if>
        </trim>
    </insert>
</mapper>
